{{ define "body_class" }}tag-template{{ end }}
{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "project") (index .Site.Params "archive-paginate" | default 4) }}
<main class="content" role="main">
  {{ $pages := .Site.Params.homePageUrl }}
    {{ if .IsHome }}
      {{ $pages = where .Site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ end }}

  {{ $paginator := .Paginate $pages }}
	<div class="extra-pagination">
	    {{ partial "pagination.html" .}}
	</div>
  {{ range $paginator.Pages  }}
  {{ .Render "summary"  }}
  {{ end  }}
  {{ partial "pagination.html" .  }}
</main>
{{ end }}